    

<p-toolbar>
        <div class="ui-g-12">
           <p-tabMenu [model]="items" [activeItem]="activeItem">
                <ng-template pTemplate="item" let-item let-i="index">
                    <div style="position: relative; text-align: center; min-width: 10em">
                        <div class="ui-menuitem-icon" [ngClass]="item.icon" *ngIf="item.icon" style="font-size: 2em"></div>
                        <div class="ui-menuitem-text">
                            {{item.label}}
                        </div>
                      
                    </div>
                </ng-template>
            </p-tabMenu>  
        </div>   
</p-toolbar>
<br>

<div class="p-grid sample-layout">
    <div class="p-col-12 p-md-2">
         <app-sidebar></app-sidebar>
    </div>
    <div class="p-col-12 p-md-10  p-col-nogutter">
        <div class="p-col-12 p-col-nogutter">
              top bar
        </div>
        <div class="p-col-12">
                <router-outlet></router-outlet>       
        </div>
    </div>
    <div class="p-col-12">
        Footer
    </div>
</div>
   
         
  

      