<div class="row">
        <div class="col-md-12">
            <h1 class="page-head-line">Usuário</h1>
            <h1 class="page-subhead-line">Knop Cloud - Sistema gerencial </h1>

        </div>
    </div>
    

<div class="container">

      
         


  
    <div class="row ">

        <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
           
          <!--    <p-card header="Usuário" subheader="Knop Cloud - Sistema gerencial" [style]="{width: '360px'}" styleClass="ui-card-shadow">
               
                    <p-header>
                            <img src="assets/img/logo-invoice.png" />
                    </p-header>-->
                   
                            <img src="assets/img/logo-invoice.png" />
                     
                    
                    <div class="ui-g ui-fluid">
                          
                          
                            
                            <div class="alert" role="alert" *ngIf="message">
                                <strong style="color: red"> Email ou senha inválida</strong>                                 
                            </div>    
                            <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1" *ngIf="aguardar">                                  
                                    <p-progressSpinner></p-progressSpinner>  
                            </div>


                            <div class="ui-g-12 ">
                                <div class="ui-inputgroup">
                                    <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
                                    <input type="email" name="email" id="inputEmail" pInputText placeholder="Email"
                                        [(ngModel)]="usuario.email" >
                                </div>
                            </div>
                            
                            <div class="ui-g-12">   
                                <div class="ui-inputgroup">
                                    <span class="ui-inputgroup-addon"><i class="fa fas fa-key"></i></span>
                                    <input type="password" name="password" id="inputPassword" pInputText placeholder="Senha"
                                        [(ngModel)]="usuario.password">
                                </div>
                            </div>
    
    
    
                            <div class="ui-g-12">   
                               
                                <button pButton type="button" icon="pi pi-check" label="Entrar" class="ui-button-info" (click)="login()" style="margin-right: .25em"></button>
    
                            </div>
                        </div>
                        Esqueceu a senha? <a href="index.html">clique aqui </a>


                 <!--   <p-footer>
                            Esqueceu a senha? <a href="index.html">clique aqui </a>
                    </p-footer>
                </p-card>-->


          

        </div>


    </div>
</div>