<nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="main-menu">
            <li>
                
                <div class="user-img-div"  style="color:#E8E8E8" *ngIf="shared.usuario">                     
                     <small>Conta:</small> {{shared.usuario.inquilino_id.nome}}
                     <br/> <br/>
                    <img src="assets/img/user.png" class="img-thumbnail" /> {{shared.usuario.nome}}
                </div>

            </li>


           <!-- <li>
                <a class="active-menu"  [routerLink]="['']"><i class="fa fa-dashboard "></i>Dashboard</a>
            </li>-->
         
           <!-- <li *ngIf={{shared.usuario.nome}} === "teste">-->
            <li>
                    <a href="#"><i class="fa fa-sitemap "></i>Transporte<span class="fa arrow"></span></a>
                     <ul class="nav nav-second-level">
                                        
                        <li>
                            <a href="#">Passageiros<span class="fa arrow"></span></a>
                            <ul class="nav nav-third-level">
                                <li>                                   
                                    <a [routerLink]="['/bilhete-passagem']"><i class="fa fa-plus "></i>Passagem/Impressão</a>
                                </li>
                               
                            </ul>
    
                        </li>
                      <!--  <li>
                                <a href="#"><i class="fa fa-bicycle "></i>Cargas</a>
                            </li>     --> 
                    </ul>
            </li>


            <li>          
                <a href="#"><i class="fa fa-desktop "></i>Cadastros<span class="fa arrow"></span></a>
                 <ul class="nav nav-second-level">
                  <!--  <li>
                      <a [routerLink]="['/cidades']"><i class="fa fa-toggle-on "></i>Cidades</a>
                       
                    </li>
                    <li>
                        <a [routerLink]="['/estados']"><i class="fa fa-bell "></i>Estados</a>                      
                    </li>-->
                    <li>
                        <a [routerLink]="['/linhas']"><i class="fa fa-circle-o "></i>Linhas</a>                                
                    </li>
                    <li>
                         <a [routerLink]="['/localidades']"><i class="fa fa-bug"></i>Localidades/Bairros</a>
                        
                    </li>
                    <li>
                        <a [routerLink]="['/secoes']"><i class="fa fa-code"></i>Seções/Tarifas</a>
                       
                   </li>

                    
                   
                </ul>
            </li>
             <!-- /.
             <li>
                <a href="#"><i class="fa fa-yelp "></i>Extra Pages <span class="fa arrow"></span></a>
                 <ul class="nav nav-second-level">
                    <li>
                        <a href="invoice.html"><i class="fa fa-coffee"></i>Invoice</a>
                    </li>
                    <li>
                        <a href="pricing.html"><i class="fa fa-flash "></i>Pricing</a>
                    </li>
                     <li>
                        <a href="component.html"><i class="fa fa-key "></i>Components</a>
                    </li>
                     <li>
                        <a href="social.html"><i class="fa fa-send "></i>Social</a>
                    </li>
                    
                     <li>
                        <a href="message-task.html"><i class="fa fa-recycle "></i>Messages & Tasks</a>
                    </li>
                    
                   
                </ul>
            </li>
            <li>
                <a href="table.html"><i class="fa fa-flash "></i>Data Tables </a>
                
            </li>
             <li>
                <a href="#"><i class="fa fa-bicycle "></i>Forms <span class="fa arrow"></span></a>
                 <ul class="nav nav-second-level">
                   
                     <li>
                        <a href="form.html"><i class="fa fa-desktop "></i>Basic </a>
                    </li>
                     <li>
                        <a href="form-advance.html"><i class="fa fa-code "></i>Advance</a>
                    </li>
                     
                   
                </ul>
            </li>
              <li>
                <a href="gallery.html"><i class="fa fa-anchor "></i>Gallery</a>
            </li>
             <li>
                <a href="error.html"><i class="fa fa-bug "></i>Error Page</a>
            </li>
            <li>
                <a href="login.html"><i class="fa fa-sign-in "></i>Login Page</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-sitemap "></i>Multilevel Link <span class="fa arrow"></span></a>
                 <ul class="nav nav-second-level">
                    <li>
                        <a href="#"><i class="fa fa-bicycle "></i>Second Level Link</a>
                    </li>
                     <li>
                        <a href="#"><i class="fa fa-flask "></i>Second Level Link</a>
                    </li>
                    <li>
                        <a href="#">Second Level Link<span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level">
                            <li>
                                <a href="#"><i class="fa fa-plus "></i>Third Level Link</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-comments-o "></i>Third Level Link</a>
                            </li>

                        </ul>

                    </li>
                </ul>
            </li>
           
            <li>
                <a href="blank.html"><i class="fa fa-square-o "></i>Blank Page</a>
            </li>
        -->
        </ul>

    </div>

</nav>