
         <div class="row">
                <div class="col-md-12">
                    <h1 class="page-head-line">INÍCIO</h1>
                    <h1 class="page-subhead-line">Knop Cloud - Sistema gerencial </h1>

                </div>
            </div>
            
            <div class="row"> 
                <br><br><br>
                <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
                    <img src="assets/img/home.png">
              
                </div>
            </div> 

  

             

           


          
           
